$red: #ff0000;
$green: #00ff00;



$background: #FFF6EF;
$black: #414141;
$brand-primary: #FCA5A5;
$brand-primary-dark: #F87171;
$brand-primary-light: #FECACA;

/*
green test colors
$brand-primary: #A7F3D0;
$brand-primary-dark: #6EE7B7;
$brand-primary-light: #D1FAE5;


*/